# Quartus generated
db/
incremental_db/
output_files/
simulation/
*.qws
*.rpt
*.summary
*.smsg
*.sof
*.pof
*.jdi
*.log

# ModelSim generated
work/
transcript
vsim.wlf

# OS
.DS_Store
Thumbs.db

# bak files
*.bak